:root {
    --light_bege: #EFF6e0;
    --light_green: #AEC3B0;
    --blue_navi: #598392;
    --military_blue: #124559;
    --black_to_blue: #01161E;
}

* {
      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Welcome*/

h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 2rem;
    
    font-size: 3rem;
    

}

.flask {
    position: absolute;
    width: 3em;
    height: 3em;

    top: 1.4em;

    left: 9em;
}

.title {
    background-color: white;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}

h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-family: 'Zilla Slab', serif;
    display: inline;
    margin-left: 2rem;
    
    width: 100;
    
    
}

.subtitle {
    color: white;
    background-color: black;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navbar {
    position: relative;
    z-index: 1;
    float: right;
    margin-top: 5px;
    
}

.navbar p {
    margin-top: 1rem;
    
}

.navbar p, a {

    
    margin-left: 1rem;

    color: white;
    text-decoration: none;
    width: 30rem;
    display: flexbox;
    justify-content: space-between;
    text-align: center;
    border-radius: .2em;
    
}

.navbar a {
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    color: black;
    transition: ease-in-out 0.5s;
}

.navbar a:hover {
    background-color: var(--light_green);
}

/*
home page
*/

.home {
    margin-top: 9rem;
    margin-left: 2rem;
    
    padding: 0 0 0 2rem;
    width: 40em;

    font-family: 'Zilla Slab', serif;
    position: absolute;
}

.runTexts {
    width: 18rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 4em;
}

#buttonLeft {
    position: absolute;
    top: 1.4rem;
    left: -4.8rem;
    font-family: 'Zilla Slab', serif;
    font-size: 3rem;

    opacity: .3;

    padding: 0 0.2em 0.1em 0.2em;

    background-color: transparent;
    border: none;
    align-items: center;

    transition: 0.5s;
    

    cursor: pointer;
}
#buttonLeft:hover {
    background-color: var(--blue_navi);
    opacity: 1;
    border-radius: .1em;
    
}



.runTexts p {
    
    font-style: italic;
    display: inline;
    opacity: .6;
}

#buttonRight {
    position: absolute;
    bottom: 1rem;
    background-color: transparent;
    border: none;
    
    font-family: 'Zilla Slab', serif;

    opacity: .3;

    cursor: pointer;

    font-size: 3rem;

    
    padding-bottom: 4px;
    align-items: center;
    padding: 0 0.2em 0.1em 0.2em;

    transition: 0.5s;

    left: 20rem;
}

#buttonRight:hover {
    background-color: var(--blue_navi);
    opacity: 1;
    border-radius: .1em;
    
    
}

.socialMedia {
    position: absolute;
    top: 15rem;
    left: 5rem;

    
    width: 20rem;

height: 4rem;

    
}

.socialMedia h3 p{
    text-align: center;
}

#social {
    margin-left: 1.7rem;
    height: 2.7rem;
}

#social a img {
    position: relativeG;
    margin: 0 .5rem 0rem .5rem;
    width: 3rem;
    height: 3rem;
    transition: 0.5s ease-in-out;
}

#social a img:hover {
   width: 5rem;
   height: 5rem;
}



aside img {
    
    position: absolute;
    right: -40em;
    top: -1em;
    
    border-radius: 300px;

    max-width:50rem;
    max-height:50rem;
    width: auto;
    height: auto;

    border-radius: 10px;
    
}